@import "tailwindcss";

:root {
    --Purple600: #5847eb;
    --Orange300-work: #ff8c66;
    --Blue300-play: #56c2e6;
    --Pink400-study: #ff5c7c;
    --Green400-exercise: #4acf81;
    --Purple700-social: #7536d3;
    --Yellow300-selfcare: #f1c65b;

    /* ### Neutral */

    --Navy950: #0f1424ff;
    --Navy900: #1c1f4a;
    --Purple500: #6f76c8;
    --Navy200: #bdc1ff;
}

body {
    font-family: "Rubik";
}



